<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Gentile <%= @destinatario.nome %>,</h2>
    <p>
      per ridefinire la tua password vai al link sotto:
	</p>
	<%= edit_password_reset_url(@destinatario.reset_token, email: @destinatario.email, :host => Rails.application.config.my_host) %>

	<p>
    Questo link scade in due ore.
    </p>
    Se non hai richiesto il reset della tua password getta questa email nel cestino,
    <p>Grazie</p>
	<p><i>Messaggio generato automaticamente, si prega di non rispondere.</i></p>
  </body>
</html>