
<%= form_tag("/people/scelta_dirigente_copia_assegnazione_obiettivi_dipendente", method: "get", remote: true, name: "scelta_dirigente_valutazione_obiettivi_dipendente"  )  do  %>
<%= collection_select(:person, :id, @dirigenti.sort_by{|p| p.cognome}, :id, :cognomenome,)  %>
<%= submit_tag "Cerca", class:'btn btn-sm btn-info' %>
<% end %>


<h2>  </h2>