
<div class="row">
<div class="column">
<%= form_tag("/people/showtabellaxdirigente", method: "get", remote: true, name: "showtabellaxdirigente"  )  do  %>
<%= collection_select(:person, :id, @dirigenti, :id, :cognomenome,)  %>
<%= submit_tag "Cerca", class:'btn btn-sm btn-info' %>
<% end %>
</div>
</div>