<div id="search_division">
    <%= render 'assegnaoperexdirigente' %>
</div>

<div class="row">
  <div class="column">
    <div id="results_division"></div>
  </div>
  <div class="column">
    <div id="jstree_assegnaopere"></div>
  </div>
</div>