<div id="search_division">
    <%= render 'scheda_personale_x_dipendente' %>
</div>

<div class="row">
  <div class="column">
    <div id="obiettivi_division"></div>
  </div>
  <div class="column">
    <div id="pagella_division"></div>
  </div>
</div>