<div class="row">
<div class="column">

<%= form_tag("/operational_goals/aggiungi_target_form", method: "post", remote: true, name: "aggiungi_target_form"  )  do  %>
<%= collection_select(:person, :dirigente_id, filtro_dirigenti.sort_by{|p| p.cognome}, :id, :cognomenome,)  %>
<%= submit_tag "Seleziona", class:'btn btn-sm btn-info' %>
<% end %>

</div>
</div>