<p id="notice"><%= notice %></p>

<div id="search_division">
    <%= render 'filtroall' %>
</div>
<div id="results_division">
    <%= render 'resultsfiltroall' %>
</div>

<%= link_to 'Nuovo Obiettivo', operational_goals_nuovoobiettivo_path %>
