<div id="search_division">
    <%= render 'selezionastrutturaobiettivixdirigente' %>
</div>

<div class="row">
  <div class="column">
    <div id="division_obiettivo"></div>
    <div id="division_fase"></div>
  </div>
  <div class="column">
   <div id="jstree_obiettivi"></div>
  </div>
</div>