<p id="notice"><%= notice %></p>

<p>
  <strong>Denominazione:</strong>
  <%= @office_type.denominazione %>
</p>

<%= link_to 'Edit', edit_office_type_path(@office_type) %> |
<%= link_to 'Back', office_types_path %>
