<p id="notice"><%= notice %></p>

<p>
  <strong>Denominazione:</strong>
  <%= @qualification_type.denominazione %>
</p>

<%= link_to 'Edit', edit_qualification_type_path(@qualification_type) %> |
<%= link_to 'Back', qualification_types_path %>
