<h1>Editing Valuation Qualification Percentage</h1>

<%= render 'form', valuation_qualification_percentage: @valuation_qualification_percentage %>

<%= link_to 'Show', @valuation_qualification_percentage %> |
<%= link_to 'Back', valuation_qualification_percentages_path %>
