<h2>Assegnazione obiettivi</h2>

L'assegnazione degli obiettivi è riservata ai dirigenti o eventualmente al personale da essi delegato.
<p> Ad ogni dipendente possono essere assegnati obiettivi, fasi, azioni ed opere presenti nel PEG. Ciascuna assegnazione ha un peso (un numero intero tra 1 e 100.)
La somma totale dei pesi degli obiettivi assegnati ad un dipendente deve essere 100.

<p> Si segnalano le seguenti schermate utili alla assegnazione degli obiettivi
<p> <b>Dipendenti x dirigente</b>: mostra una tabella con tutti i dipendenti divisi per ufficio e per ciascun dipendente viene riportato il numero di obiettivi assegnati ed il 
peso totale degli obiettivi assegnati: ogni dipendente dovrebbe avere almeno un obiettivo assegnato ed un peso totale di 100. La schermata segnala in rosso le situazioni 
che non rispondono a questo criterio. In fondo alla schermata si possono scaricare dei riassuntivi delle assegnazioni effettuate.

<p> Le seguenti tre schermate stanno nell'ultimo ragguppamento sotto <i> User </i> e riguardano specificatamente l'assegnazione.

<p> <b>Assegna obiettivi</b>: nella schermata viene proposto sulla destra un albero con tutti gli obiettivi peg (più gli eventuali obiettivi extra peg inseriti come mostrato successivamente). 
Selezionando un obiettivo, una fase, una azione od una opera (tramite il menu a tendina sulla sinistra o cliccando sull'obiettivo sull'albero) 
è possibile assegnarlo ad un dipendente.
Il dipendente deve essere selezionato dal menù a tendina (se mancasse un dipendente si prega di avvisare l'Ufficio controllo di gestione).
Dopo aver selezionato il dipendente inserire un numero tra 1 e 100 per il peso e cliccare il tasto <i> Aggiugni assegnazione</i>.
L'assegnazione viene riportata sia sull'albero a destra che nello schermo sopra la scelta dei dipendenti.
In qualsiasi momento è possibile rimuovere una assegnazione cliccando sul tasto <i> Rimuovi assegnazione</i>.

<p> <b>Assegna obiettivi per tipo</b>: per coloro che hanno un numero molto alto di obiettivi, fasi, azioni ed opere questa schermata permette di assegnare filtrando sulle diverse tipologie.
Il suo funzionamento è del tutto analogo alla schermata precedente.

<p> <b>Pesi assegnazioni per dipendente</b>: in questa schermata è possibile vedere la lista dei dipendenti con tutti gli obiettivi assegnati ed è possibile modificare
i pesi di ciascuna assegnazione. 
Per ogni dipendente viene proposta una tabella con quattro colonne: tipo (Obiettivo, Fase, Azione, Opera). Nella colonna del peso un campo di ingresso
permette di inserire un nuovo valore per il peso. Con il tasto <i> Salva </i> il valore imputato viene salvato e aggiornato il valore totale dei pesi.
Nella quarta colonna il tasto <i> Rimuovi </i> permette di rimuovere ogni singola assegnazione (viene rimossa solo l'assegnazione, l'obiettivo rimane e può essere riassegnato
dalla schermata <i> Assegna obiettivi</i>).
Si consiglia di utilizzare questa schermata solo in fase finale per eventualmente riequilibrare velocemente le assegnazioni fatte.

<p> E' possibile creare obiettivi, fasi ed azioni extra peg  ed assegnarli ad uno o più dipendenti.
<p> <b> Aggiungi Target</b>: la schermata è utile per coloro che avessero la necessità di creare obiettivi extra peg da assegnare ai dipendenti. 
Un obiettivo è identificato da una denominazione e da una descrizione. Ogni obiettivo deve avere o delle fasi sottostanti o un indicatore. 
La schermata propone la possibilità di creare il generico indicatore Avanzamento (che verrà poi valorizzato con un numero tra 0 e 100), o  di creare un indicatore personalizzato.
E' possibile creare fasi (sotto un obiettivo) e azioni (sotto una fase). Sulla destra viene mostrato l'albero corrispondente.
Gli obiettivi, fasi ed azioni creati possono essere assegnati ai dipendenti con le schermate descritte sopra.
Gli obiettivi, le fasi e le azioni possono essere rimossi solo se non hanno nessuna assegnazione: eventualmente è necessario prima rimuovere le assegnazioni 
tramite le schermate descritte sopra e poi rimuovere gli obiettivi.


<h2>Compilazione pagella comportamenti</h2>

<p> La compilazione della pagella dei comportamenti dei dipendenti è riservata ai dirigenti, cui compete la valutazione dei dipendenti assegnati alla propria struttura.</p>
<p> La pagella comportamenti riguarda le competenze professionali dimostrate e i comportamenti organizzativi. <p>

<p> Nel menù <b> User </b> in alto a destra,  è possibile:</p>
<ol>
  <li>Visualizzare una lista dei dipendenti assegnati ai Servizi di propria responsabilità;</li>
  <li>Accedere alla lista di tutte le pagelle da compilare;</li>
    <li>Accedere ad alcune funzionalità riguardanti gli obiettivi.</li>
</ol>

<p>Nella lista di tutte le pagelle da compilare, tutti i dipendenti sono raggruppati per ufficio. Di ciarcun dipendente è visualizzato
la valutazione complessiva comportamentale e la valutazione degli obiettivi assegnati. Ciascuna valutazione ha uno stato (Aperta o Chiusa): al termine delle operazioni 
la valutazione di ciascun dipendente deve risultare chiusa.</p>
<p> Il tasto  <b> Valutazione </b> porta alla schermata per la compilazione della pagella comportamenti del singolo dipendente </p>
<p> Qualora nella lista si riscontrasse la mancanza di un dipendente o la presenza di un dipendente non appartenente al servizio siete pregati di contattare l'ufficio Controllo di gestione controllodigestione@comune.udine.it.
E' comunque possibile procedere alla compilazione delle pagelle dei dipendenti correttamente inseriti nella lista.</p>


<p> Per ciascun dipendente sono riportati i dati essenziali (e.g matricola, categoria, ufficio di appartenenza, dati di servizio etc).</p>
<p> La valutazione delle competenze avviene sulla base di predefiniti fattori valutativi ponderati su base 100, variabili nel peso a seconda della categoria
del personale e dell’incarico rivestito.</p>
<p> Per ciascun fattore di valutazione è possibile esprimere un voto tra 1 e 5 (utilizzando anche i decimali). Con il tasto <b> Salva tutto </b> vengono salvati tutti 
i punteggi inseriti per il dipendente e viene ricalcolato il punteggio finale. E' possibile variare il voto per ciascun fattore di valutazione e salvare il risultato
fino al raggiungimento del risultato desiderato.</p>
<p> Per ciascun fattore di valutazione è visibile anche una descrizione più estesa (trascinando il mouse sulla denominazione del fattore di valutazione).</p> 
<p> Il punteggio complessivo della performance individuale è determinato dalla pagella comportamenti e dalle percentuali di raggiungimento degli obiettivi assegnati al dipendente.</>
<p> La compilazione della pagella comportamenti e delle percentuiali di raggiungimento degli obiettivi possono essere effettuate in tempi diversi.<p>

<p> Il nuovo <a href="http://intranos.comune.udine.it/files/docs/Personale/smivap-da-2019.pdf">sistema di valutazione della performance</a> prevede che a fianco alla valutazione delle competenze e dei comportamenti organizzativi 
espressa numericamente, vi siano delle indicazioni da parte del dirigente e delle eventuali considerazioni del valutato. Per compilare questi due elementi cliccare sul tasto
<b> Indicazioni e considerazioni </b> <p>

<p> Ultimata la compilazione della pagella comportamenti, è necessario chiudere la valutazione. 
La chiusura della valutazione disabilita ogni ulteriore modifica alla stessa per la sola parte comportamenti. 
Il valutato ha sette giorni di tempo dalla data di consegna della scheda per esprimere considerazioni.
</p>   

<p> E' possibile in ogni momento salvare una pagella in formato pdf per una successiva stampa. Per la stampa della pagella definitiva su cui apporre la firma del valutatore e quella per presa visione del valutato è necessario
chiudere la valutazione (nel file pdf è presente lo stato aperta o Chiusa della valutazione). </p>
<p> Qualora si fosse chiusa accidentalment una valutazione, è necessario contattare l'ufficio Controllo di gestione controllodigestione@comune.udine.it. 
Nel frattempo è sempre possibile proseguire con la valutazione di un altro dipendente.</p>

<p> E' possibile anche scaricare la singola pagella in formato Excel. </p> 
<p> Se durante la compilazione si riscontrassero problemi di visualizzazione è consigliato ripristinare la pagina attraverso il tasto <b> Refresh </b>. </p>
<p> Nella schermata contenente la lista completa delle valutazioni di tutti i dipendenti del Servizio, è possibile scaricare un file Excel riassuntivo.</p>


<p> A questo <a href="http://intranos.comune.udine.it/files/docs/Personale/smivap-da-2019.pdf">link</a> è possibile trovare la guida completa al sistema di valutazione del Comune di Udine </p>
