<p id="notice"><%= notice %></p>

<div id="search_division">
    <%= render 'aggiungi_indicatore_default_target_filtroall' %>
</div>
<div id="results_division">
    <%= render 'results_aggiungi_indicatore_default_target_filtroall' %>
</div>

<%= link_to 'Nuovo Obiettivo', operational_goals_nuovoobiettivo_path %>
