// Place all the styles related to the SimpleActions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {

border: 1px solid black;
width: 700px;

}

#simple_action_denominazione {

border: 1px solid black;
width: 650px;

}

#simple_action_descrizione{

border: 1px solid black;
width: 650px;

}