<p id="notice"><%= notice %></p>

<div id="search_division">
    <%= render 'filtro' %>
</div>
<div id="results_division">
    <%= render 'resultsfiltro' %>
</div>

<%= link_to 'Nuova Azione', new_simple_action_path %>
